﻿@using System.Web.UI.WebControls
@using HillCypher.Models
@model HillCypher.Models.Key
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="process">
                <div class="process-row nav nav-tabs">
                    <div class="process-step">
                        <button type="button" class="btn btn-primary btn-circle" data-toggle="tab" href="#menu1">1</button>
                        <p><small>Step 1</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu2" disabled="disabled">2</button>
                        <p><small>Step 2</small></p>
                    </div>
                    <div class="process-step">
                        <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu5" disabled="disabled">3</button>
                        <p><small>Step 3</small></p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="menu1" class="tab-pane fade active in">
                    <div class="col-md-12 text-center">
                        <p>Create a Key</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="well">

                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Num00, new { htmlAttributes = new { @class = "form-control text-center Num", PlaceHolder = "Digit 1", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Num00, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Num01, new { htmlAttributes = new { @class = "form-control text-center Num", PlaceHolder = "Digit 2" } })
                                            @Html.ValidationMessageFor(model => model.Num01, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Num02, new { htmlAttributes = new { @class = "form-control text-center Num", PlaceHolder = "Digit 3" } })
                                            @Html.ValidationMessageFor(model => model.Num02, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Num03, new { htmlAttributes = new { @class = "form-control text-center Num", PlaceHolder = "Digit 4" } })
                                            @Html.ValidationMessageFor(model => model.Num03, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                        </div>
                                    </div>
                                </fieldset>


                                <div class="form-group">
                                    <div class="col-md-10">
                                    </div>
                                </div>

                                <div class="col-md-12 text-center" id="NotValid" hidden="hidden">
                                    <span class="text-danger">Not valid Key</span>
                                </div>
                                <div class="col-md-12 text-center" id="KeysNotOK" hidden="hidden">
                                    <span class="text-danger">You must fill all elements</span>
                                </div>
                                <div class="col-md-12 text-center" id="KeyIsOK" hidden="hidden">
                                    <span class="text-success">Key is Ok</span>
                                </div>



                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-default" id="checkKey">Check Key</button>
                        <button type="button" class="btn btn-primary next-step" id="Next1" disabled="disabled">Next</button>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="col-md-12 text-center">
                        <p> Encrypt or Decrypt</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="well">

                                <fieldset>
                                    <div class="form-group text-center">
                                        <div class=" row col-md-10  col-md-offset-1">
                                            <div class="checkbox">
                                                <div class="radio">
                                                    <label style="margin: 0 10px 0 10px">
                                                        @Html.RadioButtonFor(model => model.Choice, Choice.Encryption.ToString(), new { @checked = true })
                                                        Encryption
                                                    </label>
                                                    <label style="margin: 0 10px 0 10px">
                                                        @Html.RadioButtonFor(model => model.Choice, Choice.Decryption.ToString())
                                                        Decryption
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group  ">
                                        <div class="row col-md-10 col-md-offset-1 text-center">
                                            @*<span  class="glyphicon glyphicon-remove clearTextArea" ></span>*@
                                            @Html.TextAreaFor(model => model.Text, new { rows = "1", @class = "form-control", placeholder = "Enter your text here" })
                                            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </fieldset>
                                <div class="col-md-10 col-md-offset-1 text-center" id="TextValidation" hidden="hidden">
                                    <span class=" text-danger"> lowercase and no spaces or special chars </span>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-default prev-step">Back</button>
                        <button type="button" class="btn btn-primary next-step" id="Next2" disabled="disabled">Next</button>
                    </div>
                </div>

                <div id="menu5" class="tab-pane fade">
                    <div class="col-md-12 text-center">
                        <p>The Result</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="well">

                                <fieldset>

                                    <div class="form-group  ">
                                        <div class="row col-md-10 col-md-offset-1 text-center">
                                            <p id="TargetText"></p>
                                        </div>
                                    </div>

                                </fieldset>



                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-default prev-step">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/AppScript.js"></script>
}
